*{
    margin:0;
    padding: 0;
}
body{
    background: #3c0000;
}
a{
    text-decoration: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    font-size: 24px;
    background: linear-gradient(90deg, #460000, #640000, #500000, #460000);
    background-size: 400%;
    width: 400px;
    height: 100px;
    line-height: 100px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    color: #b1904c;
}

a:hover{
    animation: shine 8s infinite;
}
@keyframes shine {
    100%{
        background-position: -400% 0;
    }

}
h1{
    font-size: 50px;
    color: #b1904c;
    padding-top: 200px;
}